<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <h2>Log in</h2>
    <form action="/login" METHOD="POST">
       <div>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
       </div>
        <label for="password">password:</label>
        <input type="password" name="password" required>
       </div>
       <button type="submit">Submit</button>
    </form>
</body>
</html>