<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up</h1>
    <form action="/sign-up" METHOD="POST">
        <% if (locals.errors) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" required>
        <br>
        <br>
        <label for="secondname">Second Name:</label>
        <input type="text" name="secondname" required>
        <br>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>
        <br><label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <br>
        <label for="confirmpassword">Confirm password:</label>
        <input type="password" name="confirmpassword" required>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>